@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
    padding : 0;
    margin:0 ;
    font-family :  Roboto, sans-serif;
}

body{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
    background-color:#dae4ff ;
} 


header{
    width:auto ;
    overflow: auto;
    background-color:#6d8adbc7 ;
    padding: 10px;
    animation:bounceInUp 3s ;

}
h1{
    text-align: center;
    padding: 10px;
    color: #fff;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;

}

label {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

input,
label {
    margin: .4rem 0;
}

#myForm{
    background-color: aqua;
    text-align: center;
    margin: 200px;
    height: 400px;
    width: 500px;
    font-size: 20px;
    animation:bounceInLeft 3s ;
}

button {
    background-color: #eee;
    padding: 10px 36px;
    margin: 18px 0;
    float: right;
    box-shadow: -1px -1px 8px #eee;
    color: black;
    font-size: 18px;
    font-family: sans-serif;
    border: 1px solid #6bd4ee;
    letter-spacing: -0.7px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    outline: none;
    text-align: center;
    padding-top: 10px;
    border-radius: 10px;
    margin-right: 15px;
    animation: bounceInRight 3s ;
  }

  form{
      padding: 60px;
  }


  #myList{
      margin-bottom: 300px;
      margin-left: 200px;
  }



  /*******************animation********************/

  
@-webkit-keyframes bounceInRight {
    from,
    60%,
    75%,
    90%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    from {
      opacity: 0;
      -webkit-transform: translate3d(3000px, 0, 0);
      transform: translate3d(3000px, 0, 0);
    }
  
    60% {
      opacity: 1;
      -webkit-transform: translate3d(-25px, 0, 0);
      transform: translate3d(-25px, 0, 0);
    }
  
    75% {
      -webkit-transform: translate3d(10px, 0, 0);
      transform: translate3d(10px, 0, 0);
    }
  
    90% {
      -webkit-transform: translate3d(-5px, 0, 0);
      transform: translate3d(-5px, 0, 0);
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }

  
@keyframes bounceInUp {
    from,
    60%,
    75%,
    90%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 3000px, 0);
      transform: translate3d(0, 3000px, 0);
    }
  
    60% {
      opacity: 1;
      -webkit-transform: translate3d(0, -20px, 0);
      transform: translate3d(0, -20px, 0);
    }
  
    75% {
      -webkit-transform: translate3d(0, 10px, 0);
      transform: translate3d(0, 10px, 0);
    }
  
    90% {
      -webkit-transform: translate3d(0, -5px, 0);
      transform: translate3d(0, -5px, 0);
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .bounceInUp {
    -webkit-animation-name: bounceInUp;
    animation-name: bounceInUp;
  }

  
@keyframes bounceInLeft {
    from,
    60%,
    75%,
    90%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    0% {
      opacity: 0;
      -webkit-transform: translate3d(-3000px, 0, 0);
      transform: translate3d(-3000px, 0, 0);
    }
  
    60% {
      opacity: 1;
      -webkit-transform: translate3d(25px, 0, 0);
      transform: translate3d(25px, 0, 0);
    }
  
    75% {
      -webkit-transform: translate3d(-10px, 0, 0);
      transform: translate3d(-10px, 0, 0);
    }
  
    90% {
      -webkit-transform: translate3d(5px, 0, 0);
      transform: translate3d(5px, 0, 0);
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .bounceInLeft {
    -webkit-animation-name: bounceInLeft;
    animation-name: bounceInLeft;
  }